/* * {
  border: 2px solid black;
} */

:root {
  --primary-color: rgba();
  --overlay-color: rgba();
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

html {
  scroll-behavior: smooth;
}

.wrapper-column {
  display: flex;
  justify-content: center;
}

.content {
  width: 70%;
  font-size: 20px;
}

#branding {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 8px;
}

#branding a {
  color: white;
  text-decoration: none;
}

#brand-icon {
  justify-self: start;
  width: 32px;
  height: 32px;
}

#header-content {
  width: 100%;
  display: grid;
  font-family: 'Montserrat', sans-serif;
  color: white;
  grid-template-columns: 1fr 1fr 64px;
  align-items: center;
  padding: 0 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  background: black;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
  flex: 0 1 auto;
}

.absolute header {
  position: absolute;
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0em;
}

.links li {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

.links a {
  color: white;
  text-decoration: none;
}

#search-icon {
  justify-self: start;
  font-size: 32px;
}

.map-container {
  height: 420px;
  border-radius: 1em;
}

.heading {
  margin: .5em 0;
}

.title {
  display: flex;
  align-items: baseline;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.title h1 {
  margin: .25em .25em 0 0;
}

.title span {
  font-family: 'Raleway', serif;
  font-size: 1em;
}

.tagline {
  margin: .5em 0;
}

.page-content {
  margin: .5em 0;
}

#landing {
  /* display: grid; */
  /* grid-template-columns: 1fr;
  grid-template-rows: .25fr 1fr .5fr;
  grid-template-areas:
    "."
    "landing"
    "."; */
  align-items: center;
  /* height: 100%; */
}

#landing-content {
  grid-area: landing;
  margin-left: 2em;
}

.runway {
  display: grid;
  justify-content: center;
}